@import '_setting.scss';
$app-bar-bg-color: #000;

.nav {
    &-app{
        padding-left: $gap;
        display: flex;
        align-items: center;
        background-color: $app-bar-bg-color;
        color: #fff;
    }
    &-left{
        display: flex;
        align-items: center;
    }
    &-link{
        margin: 0 16px;
    }
    &-icon{ 
    }
}