@import './_setting.scss';

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  line-height: 1.3em;
}
.trello {
  height: 100vh;
  display: grid;
  grid-template-rows: 40px 58px 1fr;
  background-color: $board-bg-color;
}
